.header {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    &__row{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__right{
        display: flex;
        justify-content: flex-end;
    }
      &__menu{
        display: flex;
        justify-content: flex-end;
    }
&__list{
    @include font($color-white, 25px,  bold, $font-mont);
    margin-left: 88px;
    &:first-child{
        margin-left: 0;
    }
    &:hover{
        font-weight: bold;
        text-decoration: underline;
    }
}
&__link{
    color: $color-white;
}

  }